<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Cadastrar Jogos</p>

    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" [(ngModel)]="product.name" name="name" placeholder="Nome" />
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" [(ngModel)]="product.description" name="description" placeholder="Descrição" />
    </div>
    <div class="form-group"> <label for="price">Preço:</label>
        <input currencyMask [(ngModel)]="product.price" name="price" placeholder="R$00.00" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left' }"/>
    </div>
    <button type="submit" style="width: 100px;" class="btn btn-success" (click)="save()">Salvar</button>
    <button type="submit" style="width: 100px;" class="btn btn-danger" (click)="cancel()">Cancelar</button>
</form>

<div *ngIf="msgError" class="alert alert-danger">
    {{msgError}}
</div>

<div *ngIf="msgSuccess" class="alert alert-success">
    {{msgSuccess}}
</div>

<table class="table">

    <thead class="bg-primary text-white">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>R${{ product.price }}</td>
            <td>
                <a href="javascript:void(0)" (click)="update(product)">
                    <img src="../../assets/img/editar.png" alt="Update" title="Editar" width="20px" height="20px" />
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" (click)="delete(product)">
                    <img src="../../assets/img/excluir.png" alt="Delete" title="Excluir" width="20px" height="20px" />
                </a>
            </td>
        </tr>
    </tbody>

</table>
